[Unit]
Description=GoodnightRoutineOptimizer
Wants=network-online.target
After=network-online.target
Wants=systemd-timesyncd.service
After=systemd-timesyncd.service

[Service]
Environment=DISPLAY=:0
Type=simple
Restart=always
User=pi
ExecStart=/usr/local/bin/python3.7 -u /home/pi/goodnight/main.py --language en-US

[Install]
WantedBy=multi-user.target
